* {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

/* section no.1 start */
.banner-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.726),rgba(0, 0, 0, 0.048)), url("images/Banner\ Image.png");
  height: 100vh;
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}
.banner-tag {
  top: 35%;
  left: 30%;
  position: absolute;
}
.header-text1 {
  font-size: 30px;
  padding-bottom: 25px;
  text-align: center;
}
.header-text2 {
  font-size: 50px;
  font-weight: 600;
}
/* section no.1 end */
/* section no.2 start */
.headText1 {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  color: red;
}
.text1{
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: red;
}
.text2{
  padding-top: 30px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: blue;
}
.offer-img{
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
/* section no.2 end */
/* section no.3 start */
.banner-img2{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.815),rgba(0,0,0,0.048)), url("images/Vectorrr.png");
  height: 100vh;
  background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-tag2{
  position: absolute;
  top: 220%;
  left: 20%;
}
.header-text3{
  font-size: 50px;
  font-weight: 600;
  color: white;
}
.header-text4{
  font-size: 15px;
  color: white;
}
.btn-1{
  margin-top: 25px;
  font-weight: 700;
  color: red;
  border: none;
  padding: 15px 32px;
  text-decoration: none;
  border-radius: 5px;
}
/* section no.3 end */
/* section no.4 start */
.banner-img3{
  background: linear-gradient(rgba(252, 118, 118, 0.315), rgba(255,151,151,0));
  height: 100vh;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 20px;
}
.highlighter-text{
  position: absolute;
  top: 310%;
  left: 37%;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
}
.highlighter-text p{
  padding-top: 15px;
}
#text-red{
  color: red;
}
.btn-2{
  margin-top: 20px;
  border: none;
  padding: 16px 32px;
  border-radius: 8px;
  background-color: rgb(209, 6, 6);
  color: white;
  font-weight: 700;
  margin-top: 60px;
}
/* section no.4 end */
/* section no.5 start */
.banner-container{
  display: flex;
}
.banner-tag3 p{
  padding-top: 15px;
}
.header-text5{
  font-weight: 600;
  color: red;
}
.header-text6{
  font-size: 35px;
  color: red;
  font-weight: 600;
}
.header-text7{
  text-align: justify;
}
.banner-tag4 p, img{
  padding-top: 15px;
}
.header-text8{
  font-size: 35px;
  color: red;
  font-weight: 600;
}
.header-text9{
  text-align: justify;
}